#Q.1 Write a code to reverse a string.

Approach 1:

In [ ]:
str1 = "Shayan"
reverse_str1 = str1[::-1]
print(reverse_str1)

nayahS

Approach 2:

In [ ]:
str2 = "pwskills"
i = len(str2) - 1
while i >= 0:
  print(str2[i], end = "")
  i = i - 1

sllikswp

#Q.2 Write a code to count the number of vowels in a string.

Approach 1:

In [ ]:
str3 = "pwskills"

count = 0
for i in range(len(str3)):
  if str3[i] == 'a' or str3[i] == 'e' or str3[i] == 'i' or str3[i] == 'o' or str3[i] == 'u':
    count = count + 1

print(f"Total Number of Vowels present in a string is {count}")

Total Number of Vowels present in a string is 1

Approach 2:

In [ ]:
vowels  = "aeiouAEIOU"
str4 = "pwskills"
count = 0

for i in str4:
  if i in vowels:
    count = count + 1

print("Total Number of Vowels in a given string is ", count)

Total Number of Vowels in a given string is  1

#Q.3 Write a code to check if a given string is a palindrome or not.

Approach 1:

In [ ]:
string1 = "Racecar"
string1 = string1.lower()

is_Palindrome = True
n = len(string1)
for i in range(0, n//2):
  if string1[i] != string1[n-i-1]:
    is_Palindrome = False
  else:
    is_Palindrome = True

if(is_Palindrome):
  print(f"{string1} is a palindrome string")
else:
  print(f"{string1} is not a palindrome string")

racecar is a palindrome string

Approach 2:

In [ ]:
string2 = "A man, a plan, a canal, Panama"
string2 = string2.lower().replace(", ", "").replace(" ", "");

if string2 == string2[::-1]:
  print(f"{string2} is a palindrome string")
else:
  print(f"{string2} is not a palindrome string")

amanaplanacanalpanama is a palindrome string

#Q.4 Write a code to check if two given strings are anagrams of each other.

In [ ]:
s1 = "LISTEN"
s2 = "SILENT"

s1 = s1.replace(" ", "").lower()
s2 = s2.replace(" ", "").lower()

isAnagram = False

if sorted(s1) == sorted(s2):
  isAnagram = True
else:
  isAnagram = False

if(isAnagram):
  print("Anagrams")
else:
  print("Not Anagrams")

Anagrams

#Q.5 Write a code to find all occurrences of a given substring within another string.

In [ ]:
main_string = "banana"
sub_string = "na"

occurence = []
index = main_string.find(sub_string)

while index != -1:
  occurence.append(index)
  index = main_string.find(sub_string, index + 1)

print("The Occurences of a given substring within a string is ", occurence)

The Occurences of a given substring within a string is  [2, 4]

#Q.6 Write a code to perform basic string compression using the counts of repeated characters.

In [ ]:
def compressed_string(s):
  result = []
  i = 0
  while i < len(s):
    count = 1
    while i < len(s) - 1 and s[i] == s[i+1]:
      count += 1
      i += 1
    result.append(s[i])
    if count > 1:
      result.append(str(count))
    i += 1
  return ''.join(result)

input_string = "aaabbccccdd"
compressed_string(input_string)

'a3b2c4d2'

#Q.7 Write a code to determine if a string has all unique characters.

In [ ]:
def unique_characters(s):
  isUnique = True
  for i in range(len(s)):
    for j in range(i+1, len(s)):
      if s[i] == s[j]:
        isUnique = False
        break
  return isUnique

sample_string = "pwskills"
if unique_characters(sample_string):
  print("String has all unique characters")
else:
  print("String does not have all unique characters")

String does not have all unique characters

#Q.8 Write a code to convert a given string to uppercase or lowercase.

In [ ]:
given_string = "Hello World"

upper_case = given_string.upper()
lower_case = given_string.lower()

print("UpperCase of given string is = ", upper_case)
print("LowerCase of a given string is = ", lower_case)

UpperCase of given string is =  HELLO WORLD
LowerCase of a given string is =  hello world

#Q.9 Write a code to count the number of words in a string.

In [ ]:
input_string = "Hello, how are you doing today?"

words = input_string.split()
print(len(words))

6

#Q.10 Write a code to concatenate two strings without using the + operator.

In [1]:
s1 = "Hello"
s2 = "World"

concatenated_string = " ".join([s1, s2])
print(concatenated_string)

Hello World

#Q.11 Write a code to remove all occurrences of a specific element from a list.

Approach 1

In [ ]:
lis = [2, 2, 1, 4, 5, 6, 7]
element = 2
lis.remove(element)

for i in lis:
  if i == element:
    lis.remove(i)

print(lis)

[1, 4, 5, 6, 7]

In [ ]:
lis = [1, 2, 3, 1, 1, 2, 5, 6]
element = 1

while element in lis:
    lis.remove(element)

print(lis)

[2, 3, 2, 5, 6]

Approach 2

In [ ]:
lis = [1, 2, 3, 1, 1, 2, 5, 6]
element = 1

ans = [x for x in lis if x != element]
print(ans)

[2, 3, 2, 5, 6]

Approach 3

In [ ]:
lis = [1, 2, 3, 1, 1, 2, 5, 6]
element = 1


ans = list(filter(lambda x : x != element, lis))
print(ans)

[2, 3, 2, 5, 6]

#Q.12 Implement a code to find the second largest number in a given list of integers.

Approach 1

In [ ]:
l = [5, 6, 3, 2, 10, 7, 9]
l.sort()
print(l[-2])

9

Approach 2

In [ ]:
l = [5, 6, 3, 2, 10, 7, 9]
first_largest = float('-inf')
second_largest = float('-inf')
for i in l:
  if i > first_largest:
    second_largest = first_largest
    first_largest = i
  elif i > second_largest and i != first_largest:
    second_largest = i

print(second_largest)

9

#Q.13 Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values.

In [ ]:
def count_occurrences(lis):
  count_dict = {}
  for i in lis:
    if i in count_dict:
      count_dict[i] += 1
    else:
      count_dict[i] = 1
  return count_dict

sample_list = ["apple", "banana", "apple", "orange", "banana", "apple"]
result = count_occurrences(sample_list)
print(result)

{'apple': 3, 'banana': 2, 'orange': 1}

#Q.14 Write a code to reverse a list in-place without using any built-in reverse functions.

In [ ]:
lis = [1, 2, 3, 4, 5]
i = 0
j = len(lis) - 1
while i < j:
  temp = lis[i]
  lis[i] = lis[j]
  lis[j] = temp

  i = i + 1
  j = j - 1

print(lis)

[5, 4, 3, 2, 1]

#Q.15 Implement a code to find and remove duplicates from a list while preserving the original order of elements.

Approach 1

In [ ]:
lis = [1, 1, 1, 2, 2, 3, 4, 4, 5, 5]
unique_list = []
for i in lis:
  if i not in unique_list:
    unique_list.append(i)

print(unique_list)

[1, 2, 3, 4, 5]

Approach 2

In [ ]:
lis = [1, 1, 1, 2, 2, 3, 3, 4, 4, 4, 5, 5, 6]
i = 0
for j in range(1, len(lis)):
  if lis[j] != lis[i]:
    lis[i+1] =  lis[j]
    i = i + 1


lis = lis[:i+1]


print(lis)

[1, 2, 3, 4, 5, 6]

#Q.16 Create a code to check if a given list is sorted (either in ascending or descending order) or not.

In [ ]:
lis = [1, 2, 3, 4, 5]

isSorted = True

for i in range(1, len(lis)):
  if lis[i] < lis[i-1]:
    isSorted = False
    break

if isSorted:
  print("Given list is sorted")
else:
  print("Given list is not sorted")

Given list is sorted

#Q.17 Write a code to merge two sorted lists into a single sorted list.

Approach 1

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]
merged_list =[]
i = 0
j = 0
n = len(list1)
m = len(list2)

while i < n and j < m:
  if list1[i] <= list2[j]:
    merged_list.append(list1[i])
    i = i + 1
  else:
    merged_list.append(list2[j])
    j = j + 1

while i < n:
  merged_list.append(list1[i])
  i = i + 1

while j < m:
  merged_list.append(list2[j])
  j = j + 1


print(merged_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Approach 2

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]

merged_list = list1 + list2
merged_list.sort()
print(merged_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#Q.18 Implement a code to find the intersection of two given lists.

Approach 1

In [ ]:
list1 = [1, 4, 5, 6, 7]
list2 = [6, 7, 9, 2, 1]
intersected_list = []

for i in list1:
  if i in list2:
    intersected_list.append(i)

print(intersected_list)

[1, 6, 7]

Approach 2

In [ ]:
list1 = [1, 4, 5, 6, 7]
list2 = [6, 7, 9, 2, 1]


list1.sort()
list2.sort()

ans = []
i = 0
j = 0
n = len(list1)
m = len(list2)


while i < n and j < m:
  if list1[i] < list2[j]:
    i = i + 1
  elif list2[j] < list1[i]:
    j = j + 1
  else:
    ans.append(list1[i])
    i = i + 1
    j = j + 1



print(ans)

[1, 6, 7]

#Q.19 Create a code to find the union of two lists without duplicates.

Approach 1

In [ ]:
list1 = [1, 2, 3, 4, 5, 6]
list2 = [1, 2, 6, 7, 8, 9, 10]
union_list = []

for i in list1:
  if i not in union_list:
    union_list.append(i)

for j in list2:
  if j not in union_list:
    union_list.append(j)

print(union_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Approach 2

In [ ]:
list1 = [1, 2, 3, 4, 5, 6]
list2 = [1, 2, 6, 7, 8, 9, 10]
union_list = []
i = 0
j = 0
n = len(list1)
m = len(list2)
while i < n and j < m:
  if list1[i] < list2[j]:
    if len(union_list) == 0 or union_list[-1] != list1[i]:
      union_list.append(list1[i])
    i = i + 1
  else:
    if len(union_list) == 0 or union_list[-1] != list2[j]:
      union_list.append(list2[j])
    j = j + 1

while i < n:
  if len(union_list) == 0 or union_list[-1] != list1[i]:
    union_list.append(list1[i])
  i = i + 1

while j < m:
  if len(union_list) == 0 or union_list[-1] != list2[j]:
    union_list.append(list2[j])
  j = j + 1

print(union_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#Q.20 Write a code to shuffle a given list randomly without using any built-in shuffle functions.

In [ ]:
import random

def shuffle_list(lis):
  shuffled = lis.copy()

  for i in range(len(shuffled)-1, 0, -1):
    j = random.randint(0, i)

    shuffled[i], shuffled[j] = shuffled[j], shuffled[i]
  return shuffled

list1 = [1, 2, 3, 4, 5, 6]
shuffled_list = shuffle_list(list1)
print(shuffled_list)

[6, 5, 2, 4, 1, 3]

#Q.21 Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.

In [9]:
def common_tuple(tuple_a, tuple_b):
  set_a = set(tuple_a)
  set_b = set(tuple_b)

  result = set_a & set_b
  return tuple(result)

tuple_a = (1, 2, 3, 4, 5)
tuple_b = (4, 5, 6, 7, 8)
result = common_tuple(tuple_a, tuple_b)
print(result)

(4, 5)

#Q.22  Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets.

In [ ]:
first_number = input("Enter the first set of integers seperated by commas: ")
list1 = [int(x) for x in first_number.split(",")]

second_number = input("Enter the second set of integers seperated by commas: ")
list2 = [int(x) for x in second_number.split(",")]

common = []
for num in list1:
  if num in list2:
    common.append(num)

print(common)

Enter the first set of integers seperated by commas: 1,2,3,4
Enter the second set of integers seperated by commas: 3,4,5,6
[3, 4]

#Q.23 Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

In [10]:
def func(tuple_1, tuple2):
  new_tuple = tuple_1 + tuple2
  return new_tuple

tuple_1 = (1, 2, 3)
tuple2 = (4, 5, 6)
new_tuple = func(tuple_1, tuple2)
print(new_tuple)

(1, 2, 3, 4, 5, 6)

#Q.24 Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set.

In [12]:
s1 = input("Enter the first set of strings seperated by commas: ")
list1 = s1.split(",")
set1 = set(list1)

s2 = input("Enter the second set of strings seperated by commas: ")
list2 = s2.split(",")
set2 = set(list2)

result = set1 - set2
print(result)

Enter the first set of strings seperated by commas: s,h,a,y,a,n
Enter the second set of strings seperated by commas: a,z,l,a,n
{'y', 's', 'h'}

#Q.25 Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices.

Approach 1

In [13]:
def func(tuple_1, start, end):
  list_1 = []
  for i in range(start, end+1):
    list_1.append(tuple_1[i])
  return tuple(list_1)

func((1, 2, 3, 4, 5, 7, 11, 22), 2, 4)

(3, 4, 5)

Approach 2

In [14]:
def func(tuple_1, start, end):
    return tuple_1[start:end+1]
func((1, 2, 3, 4, 5, 7, 11, 22), 2, 4)

(3, 4, 5)

#Q.26 Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.

In [17]:
set_of_characters_1 = input("Enter the first set of characters: ")
set_of_characters_2 = input("Enter the second set of characters: ")
set1 = set(set_of_characters_1)
set2 = set(set_of_characters_2)

union = set1 | set2
print(union)

Enter the first set of characters: abc
Enter the second set of characters: abd
{'a', 'd', 'b', 'c'}

#Q.27 Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking.

In [18]:
def func(tup):
  maxi, mini = max(tup), min(tup)
  return maxi, mini

func((1, 2, 3, 4, 5))

(5, 1)

#Q.28 Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets.

In [20]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union = set1 | set2
intersection = set1 & set2
difference = set1 - set2

print(f"Union of set 1 and set 2 is {union}")
print(f"Intersection of set 1 and set 2 is {intersection}")
print(f"Difference of set 1 and set 2 is {difference}")

Union of set 1 and set 2 is {1, 2, 3, 4, 5, 6, 7, 8}
Intersection of set 1 and set 2 is {4, 5}
Difference of set 1 and set 2 is {1, 2, 3}

# Q.29 Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple.

In [22]:
def func(tup, element):
  return tup.count(element)
func((1, 1, 2, 3, 3, 2, 3, 3, 3), 3)

5

#Q.30 Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets.

In [23]:
s1 = input("Enter the first set of string: ")
s2 = input("Enter the second set of string: ")
set1 = set(s1)
set2 = set(s2)

sym_diff = set1 ^ set2
print(sym_diff)

Enter the first set of string: abcd
Enter the second set of string: abcgt
{'g', 't', 'd'}

#Q.31 Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.

In [24]:
def func(lis):
  freq = {}
  for i in lis:
    if i in freq:
      freq[i] += 1
    else:
      freq[i] = 1
  return freq

func(["apple", "mango", "mango", "apple", "apple", "banana", "grapes", "orange", "orange", "orange"])

{'apple': 3, 'mango': 2, 'banana': 1, 'grapes': 1, 'orange': 3}

#Q.32 Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together.

Approach 1

In [27]:
def func(dict1, dict2):
  dict3 = dict1.copy()
  for i in dict2:
    if i in dict3:
      dict3[i] += dict2[i]
    else:
      dict3[i] = dict2[i]
  return dict3

func({"a": 1, "b": 2, "c": 3}, {"b": 4, "c": 5, "d": 6})

{'a': 1, 'b': 6, 'c': 8, 'd': 6}

Approach 2

In [28]:
def merge_dicts(dict1, dict2):
    merged = dict1.copy()  # Start with a copy of the first dictionary

    for key, value in dict2.items():
        if key in merged:
            merged[key] += value  # Add values if key is common
        else:
            merged[key] = value  # Otherwise, just add the key-value pair

    return merged

# Example usage:
dict1 = {'a': 10, 'b': 20, 'c': 30}
dict2 = {'b': 5, 'c': 15, 'd': 40}

result = merge_dicts(dict1, dict2)
print(result)

{'a': 10, 'b': 25, 'c': 45, 'd': 40}

#Q.33 Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None

In [29]:
def get_nested_value(dictionary, keys):
    current = dictionary
    for key in keys:
        if isinstance(current, dict) and key in current:
            current = current[key]
        else:
            return "Key not found"
    return current
print(get_nested_value({'a': {'b': {'c': 42}}}, ['a', 'b', 'c']))      # ➜ 42
print(get_nested_value({'a': {'b': {'c': 42}}}, ['a', 'x', 'c']))      # ➜ "Key not found"

42
Key not found

#Q.34 Write a code that takes a dictionary as input and returns a sorted version of it based on the values. Youcan choose whether to sort in ascending or descending order.

In [31]:
def sort_dict_by_values(input_dict, descending=False):
    return dict(sorted(input_dict.items(), key=lambda item: item[1], reverse=descending))
data = {'apple': 3, 'banana': 1, 'cherry': 2}

# Sort in ascending order
print(sort_dict_by_values(data))
# Output: {'banana': 1, 'cherry': 2, 'apple': 3}

# Sort in descending order
print(sort_dict_by_values(data, descending=True))
# Output: {'apple': 3, 'cherry': 2, 'banana': 1}

{'banana': 1, 'cherry': 2, 'apple': 3}
{'apple': 3, 'cherry': 2, 'banana': 1}

#Q.35 Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.

In [32]:
def invert_dict(d):
    inverted = {}
    for key, value in d.items():
        if value not in inverted:
            inverted[value] = [key]
        else:
            inverted[value].append(key)
    return inverted

original = {'a': 1, 'b': 2, 'c': 1, 'd': 3}
print(invert_dict(original))

{1: ['a', 'c'], 2: ['b'], 3: ['d']}